<h1><%= @user.email %> Goals</h1>

<ul>
  <% if !logged_in? || current_user != @user %>
    <% @user.goals.where(private: false).each do |goal| %>
      <li>
        <%= link_to goal.title, goal_url(goal) %>
      </li>
    <% end %>
  <% else %>
    <% @user.goals.each do |goal| %>
      <li>
        <%= link_to goal.title, goal_url(goal) %>
        <% unless goal.completed %>
          <%= button_to "Complete Goal #{goal.id}", complete_goal_url(goal), method: :post %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>